<div class="contact_landing">
    <div>
        <h1 class="home_heading">Contact & About</h1>
    </div>
    <div class="contact_block">
        <div class="contact_block_card">
            <h1>Contact Us</h1>
            <div></div>
            <p>This website is developed by Alka Malik <br /> To get in contact please email [link to your email address]</p>
        </div>        <div class="contact_block_card">
            <h1>About Us</h1>
            <div></div>
            <p>This website provides an introduction to Artificial intelligence and was created as partial fulfillment of the assessment requirements of Web Design and Programming at the University of Canberra. <br/> This site is built on the ASP.NET CORE framework and employs Bootstrap responsive design techniques.</p>
        </div>        <div class="contact_block_card">
            <h1>Copyright</h1>
            <div></div>
            <p>All images used in this website were downloaded from <br /> <a href="https://unsplash.com/" class="text-decoration-none text-primary">Unsplash.</a> <br /> The icons from the footer from <a href="https://fontawesome.com/" class="text-decoration-none text-primary">fontawesom</a>. <br /> The Anton font used from headers from <a href="https://fonts.google.com/" class="text-decoration-none text-primary">Google Fonts.</a></p>
        </div>
    </div>
</div>