@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Home Page";
}



 <div class="home">
     <div class="landing">

<div class="heading">
    <h1 class="home_heading">Generative Artificial Intelligence</h1>
    <div class="home_below_heading">
        Generative artificial intelligence is artificial intelligence capable of generating
        text, images, videos, or other data using generative models, often in response to
        prompts. Generative AI models learn the patterns and structure of their input training
        data and then generate new data that has similar characteristics.
        <br><em>Wikipedia</em>
    </div>
</div>
<video src="~/videos/video.mp4" loop muted autoplay="autoplay" preload="auto" class="video"></video>
   </div>

   <div class="ai_chat_page">
       <div class="ai_chat_page_blocks">
       <div class="ai_chat_page_block">
            <div class="ai_chat_page_block_desc">
                <h1>AI Chatbots</h1>
                <p>
                Artificial intelligence (AI) chatbots are apps or interfaces that can carry on
                human-like conversation using natural language understanding (NLU) or natural language
                processing (NLP) and machine learning (ML).
                </p>
                <a href="https://cloud.google.com/use-cases/ai-chatbot">Read More</a>
            </div>
           <div class="ai_chat_page_block_card card">
               <img src="~/images/gemini.jpg" alt="Alternate Text" class="card-img"/>
                <div class="block_card_text">
                    Gemini, formerly known as Bard, is a generative artificial intelligence chatbot
                    developed by Google.<br>Wikipedia
                </div>    
           </div>
           <div class="ai_chat_page_block_card card">
               <img src="~/images/chatgpt.jpg" alt="Alternate Text" class="card-img"/>
               <div class="block_card_text">
                    ChatGPT is a chatbot and virtual assistant developed by OpenAI and launched on November
                    30, 2022.<br>Wikipedia
               </div>    
           </div>
       </div>
     
       <div class="ai_chat_page_block">
           <div class="ai_chat_page_block_card card">
               <img src="~/images/pixlr.jpg" alt="Alternate Text" class="card-img"/>
                <div class="block_card_text">
                        Pixlr is a group of AI-powered SaaS creative tools including Pixlr.com, Designs.ai and
                        Vectr.com. <br>Wikipedia

                </div>    
           </div>
           <div class="ai_chat_page_block_card card">
               <img src="~/images/dalle.jpg" alt="Alternate Text" class="card-img"/>
               <div class="block_card_text">
                        DALL·E, DALL·E 2, and DALL·E 3 are text-to-image models developed by OpenAI.
                        <br>Wikipedia
               </div>    
           </div>
            <div class="ai_chat_page_block_desc">
                    <h1>
                        AI Image Generator
                    </h1>
                <p>
                        AI Image Generator is an innovative tool using advanced AI techniques to generate image
                        from a text prompt, just write what you want to generate and our AI will create it.
                </p>
                    <a href="https://pixlr.com/image-generator/">Read More</a>
            </div>
       </div>
       
       <div class="ai_chat_page_block">
            <div class="ai_chat_page_block_desc">
                    <h1>
                        AI Companies
                    </h1>
                <p>
                        Top Generative AI Companies: Microsoft, OpenAI, Google, Amazon, Anthropic, IBM, Meta,
                        xAI, Stability, and Adobe.

                </p>
                <a href="https://cloud.google.com/use-cases/ai-chatbot">Read More</a>
            </div>
           <div class="ai_chat_page_block_card card">
               <img src="~/images/ibm.jpg" alt="Alternate Text" class="card-img"/>
                <div class="block_card_text">
                        IBM is the largest industrial research organization in the world, with 19 research
                        facilities across a dozen countries.<br>Wikipedia<br>Wikipedia
                </div>    
           </div>
           <div class="ai_chat_page_block_card card">
               <img src="~/images/amazon.jpg" alt="Alternate Text" class="card-img"/>
               <div class="block_card_text">
                        The most capable generative AI–powered assistant for accelerating software development
                        and leveraging companies' internal data. <br>Amazon Q

               </div>    
           </div>
       </div>
            <div class="ai_below_blocks">
           <h4 class="text-light">Upload AI images</h4>
                @if (SignInManager.IsSignedIn(User))
                {
                    <a class="nav-link text-light" asp-area="" asp-controller="AIImages" asp-action="Create">Click here to upload new AI image</a>
                }
                else{
                    <p class="text-light ">Please <a class="text-decoration-none" asp-area="Identity" asp-page="/Account/Login">login</a> or <a class="text-decoration-none" asp-area="Identity" asp-page="/Account/Register">register</a> to upload your AI images.</p>

                }
            </div>
       </div>
   
   </div>
 </div>

    
