
.home {
    height: 100%;
    width: 100%;
}

.landing {
    height: 100vh;
    position: relative;
    width: 100%;
}

.video {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.heading {
    position: absolute;
    color:  white;
    z-index: 1;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.home_heading {
    font-family: 'Anton', sans-serif;
    background-image: linear-gradient(to right, brown, brown, yellow, white, yellow, brown, brown);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: brown;
    padding: 9vw 2vw 0vw 2vw;
    text-align: center;
    font-size: 7vw;
    font-weight:700;
}

.home_below_heading {
    margin: auto;
    width: 70%;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    text-align: center;
    color: white;
}

.ai_chat_page {
    height: auto;
    width: 100%;
    position: relative;
    background-image: url("../images/bg2.jpg");
}

.ai_chat_page_blocks {
    height: auto;
    z-index: 0;
    width: 100%;
    top: 0;
    padding-left: 8vh;
    padding-right: 8vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.ai_chat_page_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3vh;
    padding-bottom: 4vh;
}

.ai_chat_page_block_desc {
    z-index: 1;
    width: 50%;
    border: 2px solid black;
    padding: 3vh;
    border-radius: 10px;
}

    .ai_chat_page_block_desc h1 {
        font: Anton;
        color: #f8bd08;
        font-size: 4vw;
        text-shadow: 2px 2px 0px navy, 2px 2px 4px white;
    }

    .ai_chat_page_block_desc p {
        font: Lato;
        color: white;
        font-size: 1.5vw;
    }

    .ai_chat_page_block_desc a {
        border: 1px solid black;
        padding: 1vh;
        border-radius: 3px;
        color: black;
    }

.ai_chat_page_block_card {
    width: 400px;
    height: 310px;
    object-fit: contain;
    overflow: hidden;
    z-index: 0;
}

.block_card_text {
    display: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 310px;
    padding: 15px;
    color: white;
    background-color: rgba(0,0,0,1);
    opacity: 0;
}

    .block_card_text:hover {
        opacity: 0.9;
        transition: 2s ease;
    }
